<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
    hasBackdrop="true"
  >
    <div class="grid gird-cols-1 gap-4 p-4">
      <div class="flex w-full gap-2 justify-between">
        <div class="flex items-center">
          <mat-icon class="icon-brand">style</mat-icon>
          <mat-label class="mx-5">Flash Cards</mat-label>
        </div>
        <mat-icon
          (click)="sidenav.toggle()"
          class="cursor-pointer"
          color="primary"
        >
          close
        </mat-icon>
      </div>
      <button mat-flat-button class="mt-4">
        <mat-icon>account_circle</mat-icon>
        Login / Register
      </button>
      <mat-list class="grid grid-cols-1">
        <mat-list-item class="flex gap-4 items-center">
          <div
            class="flex gap-4 items-center w-full cursor-pointer"
            (click)="sidenav.toggle()"
            routerLink="/"
            routerLinkActive="custom-active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon>home</mat-icon>
            <mat-label>Home</mat-label>
          </div>
        </mat-list-item>
        <mat-list-item class="flex gap-4 items-center">
          <div
            class="flex gap-4 items-center w-full cursor-pointer"
            (click)="sidenav.toggle()"
            routerLink="/decks"
            routerLinkActive="custom-active-link"
          >
            <mat-icon>web_stories</mat-icon>
            <mat-label>Decks</mat-label>
          </div>
        </mat-list-item>
        <mat-list-item class="flex gap-4 items-center">
          <div
            class="flex gap-4 items-center w-full cursor-pointer"
            (click)="sidenav.toggle()"
            routerLink="/reviews"
            routerLinkActive="custom-active-link"
          >
            <mat-icon>score</mat-icon>
            <mat-label>Review Analysis</mat-label>
          </div>
        </mat-list-item>
        <mat-list-item class="flex gap-4 items-center">
          <div
            class="flex gap-4 items-center w-full cursor-pointer"
            routerLink="/settings"
            routerLinkActive="custom-active-link"
            (click)="sidenav.toggle()"
          >
            <mat-icon>settings</mat-icon>
            <mat-label>Settings</mat-label>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      class="shadow-lg border-b border-gray-400 fixed w-full top-0 z-50 custom-color"
    >
      <div class="flex justify-between w-full h-20 items-center">
        <mat-icon class="icon-brand" (click)="sidenav.toggle()">
          menu
        </mat-icon>
        <div class="flex gap-4">
          <mat-icon class="icon-brand">style</mat-icon>
          <mat-label>Flash Cards</mat-label>
        </div>
        <mat-slide-toggle
          [checked]="isDarkTheme"
          (change)="onThemeChange($event)"
        >
        </mat-slide-toggle>
      </div>
    </mat-toolbar>
    <div class="px-4 m-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
