@use "@angular/material" as mat;
@use "@angular/material/prebuilt-themes/cyan-orange.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

.custom-theme.dark-theme {
  color-scheme: dark;
}

.custom-theme.light-theme {
  color-scheme: light;
}

.custom-theme {
  @include mat.theme(
    (
      // color: mat.$orange-palette,
      // color: mat.$rose-palette
      color: mat.$magenta-palette
    )
  );
  //override button theme
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

.text-primary {
  color: #7d00fa;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: #ef4444;
  --mdc-button__label: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: #65a30d;
  --mdc-button__label: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
/* Custom invisible scrollbar for the entire webpage */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
